:root
{
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --bright-purple: hsl(281, 83%, 54%);

    /* Font Sizes */
    --fs-default: 1rem;

    /* Font Weights */
    --fw-light: 400;
    --fw-medium: 600;
    --fw-bold: 700;
}

/* Links to the fonts stored in the fonts folder. */

@font-face 
{
  font-family: WorkSans-Reg;
  src: url("assets/fonts/static/WorkSans-Regular.ttf");
}

@font-face 
{
  font-family: WorkSans-SBold;
  src: url("assets/fonts/static/WorkSans-SemiBold.ttf");
}

@font-face 
{
  font-family: WorkSans-Bold;
  src: url("assets/fonts/static/WorkSans-Bold.ttf");
}

/* Box sizing rules */
*,
*::before,
*::after 
{
  box-sizing: border-box;
}

/* Prevent font size inflation */
html 
{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd
{
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] 
{
  list-style: none;
}

/* Set core body defaults */
body 
{
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label 
{
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 
{
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture 
{
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select 
{
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) 
{
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target 
{
  scroll-margin-block: 5ex;
}

.background-image-desktop,
.background-image-mobile
{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: visible;
}

main
{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 88%;
  margin-top: 37%;
  margin-bottom: 37%; 
  border-radius: 8px;
  padding: 25px 25px 0;  
}

main h1,
main h3
{
  color: var(--dark-purple);
}

.FAQs-title-container,
.answer-container
{
  display: flex;
  flex-direction: row;
}

.FAQs-title-container > svg
{
  width: 9%;
  height: auto;
}

.FAQs-title-container > h1
{
  margin-top: 2px;
  margin-left: 30px;
  font-family: WorkSans-Bold;
  font-size: 2.2rem;
}

.question-container
{
  margin: 25px 0 25px;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.question-container > h3
{
  margin: auto;
  margin-left: 0;
  font-family: WorkSans-SBold;
  transition: all 0.2s;
}

.question-container:hover > h3
{
  color: var(--bright-purple);
}

.question-container > svg
{
  width: 70%;
  height: auto;
  margin-left: auto;
}

.closed 
{
  transform: scaleX(0);
  height: 0;
}

.opened
{
  margin-bottom: 20px;
}

.answer-container > p
{
  margin: 0;
  font-family: WorkSans-Reg;
  color: var(--grayish-purple);
}

span
{
  background-color: var(--light-pink);
  height: 2px;
}

footer
{ 
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px; 
  text-align: center;
}

footer a 
{ 
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px)
{
  .background-image-mobile
  {
    display: none;
  }
}